 <div class="CENTER mt-3">
    <h1 class="letra">SABORES DEL ALMA Y CORAZÓN</h1>
    <hr>
    <hr>
    <div>
        <img class="img-fluid img-product" src="https://giullianooliva.com.br/content/uploads/2015/07/frutas-1.jpg">
    </div>
    <br>
    <h1 class="letra2">Te damos la Bienvenida a esta página de postres.</h1>
    <br>
    <h3 class="letra3">En la cual encontrarás una gran variedad de diferentes estilos y sabores, </h3>
    <h3 class="letra3">para que degustes en compañía de amigos y seres queridos.</h3>

 </div>
